html {
    background-color: #475ca4;
    height: 100%;
}

body {
    background-color: #E2D7BB;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.topnav {
    z-index: 2;
    position: sticky;
    background-color: #475ca4;
    -webkit-text-size-adjust: auto;
    padding: 22px;
    margin: 0px;
    top: 0;
    text-align: center;
}

a {
    color: #fff;;
    padding: 10px 20px 10px 20px;
    margin: 0px 10px 0px 10px;
    text-decoration: none; 
}

a:hover {
    text-decoration: none; 
}

.now {
    color: #FFFFFF; 
    background-color: #972828;
    border-radius: 5px;
} 

.nav-button:hover {
    color: #FFFFFF; 
    background-color: #6679b7;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #a2aed2;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px;
    padding: 16px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item:hover {
    background-color: #6479bf;
    color: #fff;
}
.ideas {
    margin: 20px 10%;
}

.card {
    margin: 20px;
}

.pushback-idea {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    border-radius: 10%;
    background-color: #4d4d4d;
    color: #bababa;
    padding: 10px 20px;
  }

  .card-title {
    text-align: center;
  }

  .main {
    flex: 1 0 auto;
}

footer {
    margin-top: auto;
    background-color: #475ca4;
    color: #D9D9D9;
    padding: 30px 40px 30px 40px;
    text-align: center;
    width: 100%;
    flex-shrink: 0;
}     